body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.popupContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 40px auto;
    position: relative;
}

.popupText {
    font-size: 24px;
    margin-bottom: 20px;
}

.popupButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.popupCloseButton, .popupOpenButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 10px;
}

.popupCloseButton {
    background-color: #FF0000;
}

.popupOpenButton {
    background-color: #4CAF50;
}

.popupOpenButton:hover {
    background-color: #3e8e41;
}

.popupCloseButton:hover {
    background-color: #f44336;
}